




 /* keep full widget on smaller screens */
 @media (max-width: 767px) {
 	body {
 		padding-left: 0;
 		padding-right: 0;
 	}
 }

 @media (min-width: 768px) {
   .navbar-custom {
     letter-spacing: 2px;
     -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
     -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
     transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
   }

   /*controlls the appearance of the navbar when it is collapsed*/
   .navbar-custom.top-nav-collapse {
     padding: 100;
     background: transparent;
     /*border-bottom: 1px solid transparent;*/
   }
 }


 /* Make the iframe keep an aspect ratio, and
 position it in the middle of its parent wrapper*/

 .iframe-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .node {
   cursor: pointer;
 }
 .node circle {
   stroke: grey;
   stroke-width: .5px;
 }
 .node text {
   font: 16px sans-serif;
   font-family:  "Roboto",Arial,Helvetica,sans-serif;


 }
 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;

 }

html {
  width: 100%;
  height: 100%;
}
section {
padding-top: 60px;
}
button{
  padding-top: 60px;

}



.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: transparent;
	padding-top: 10px;
  letter-spacing: 2px;
}

/*this is important for collpsed nav bar*/
.navbar-custom .navbar-toggle {
  background-color: #00ff00;
  padding: 10px;
}

.navbar-custom  li a {
  color: black;
  letter-spacing: 1px;

  line-height: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  color: #96928f;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-custom .nav li.active a {
  background-color: transparent;
    color: 	#D3D3D3;
    text-transform: uppercase;
}

.navbar-custom .nav li.active a:hover {
    color: #96928f;
    text-transform: uppercase;
}




@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}



html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}
.carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
